$bright-pink : #e9062f;
$light-orange : #fb853b;


body{
  background-color: $light-orange;
}

button {
  color: white;
  background-color: $bright-pink;
  border: none;
  padding: 8px;
  margin: 5px;
}

input {
  padding: 8px;
}

.card {
  // display: none;
  margin: 10% auto;
  width: 250px;
  height: 300px;
  padding: 10px 15px;
  color: black;
  font-size: 100%;
  line-height: 18px;
  font-weight: bold;
  // position: relative;
  box-sizing: border-box;
  text-align: center;
  transition: all .15s ease-out;
  box-shadow: 0px 5px 5px rgba(0,0,0,.3);
  overflow: hidden;
}
