body {
  margin: 0;
  background-color: rgb(70, 70, 70);
}

#input-section {
  margin: 2%;
}

button {
  color: white;
  border: none;
}

#city-btn {
  background-color: rgb(23, 23, 23);
  padding: 8px;
  margin: 5px;
}

#toggle-btn {
  padding: 3px;
  color: black;
}

input {
  padding: 8px;
}

#icon {
  width: 50px;
  height: 50px;
}

.card {
  display: none;
  opacity: 78%;
  flex-direction: column;
  align-items: center;
  background: rgb(23, 23, 23);
  margin: 10% auto;
  width: 250px;
  height: 300px;
  padding: 10px 15px;
  color: white;
  font-size: 100%;
  line-height: 18px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.15s ease-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#desc {
  text-transform: capitalize;
}
